.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #232323;
    background-color: black;
    color:white;
    padding-top: 5%;
    padding-left: 2%;
    border-bottom: 5px solid #232323;
}