.container
{
    display: flex;
    flex-direction: column;
    color:white;
    padding-left: 2%;
    border-bottom: 5px solid #232323;
    padding-bottom: 3%;
    overflow: hidden;
    text-wrap: nowrap;
    background-color: black;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2) 20%),

}

.listContainer
{
    align-items: center;;
    justify-content: center;
    display: flex;
    flex-direction: row;    
   

    ul
    {
        font-size: large;
        margin-right: 16%;
    }

    li
    {
        
        list-style-type: none; 
        margin-bottom: 25%;

        a
        {
            color: white;
        }
    }
}